.filters {
  background-image: url('../../assets/star_wars.jpg');
  border: 1px solid black;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  min-height: 30vh;
}

.table {
  border: 1px solid red;
  overflow: scroll;
}
