.filters {
  background-image: url('../../assets/star_wars.jpg');
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  min-height: 30vh;
}

.table {
  overflow: scroll;
}

table {

  width: 100vw;
}


