.num-f--main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.num-f--select {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 230px;
}

.num-f--select select {
  outline: none;
}

.num-f--main-container input {
  margin-bottom: 10px;
  outline: none;
  width: 220px;
}

.num-f--main-container button {
  background-color: rgb(4, 107, 190);
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  padding: 5px 0;
  outline: none;
  width: 100px;
}

.num-f--main-container button:hover {
  background-color: rgb(4, 107, 190, 0.9);
  cursor: pointer;
}
