.order--main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.order--main-container select {
  margin-bottom: 10px;
  outline: none;
  width: 100%;
}

.order--main-container button {
  background-color: rgb(4, 107, 190);
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  padding: 5px 0;
  outline: none;
  width: 100px;
}

.order--main-container button:hover {
  background-color: rgb(4, 107, 190, 0.9);
  cursor: pointer;
}

.order--main-container label {
  font-size: 14px;
}